
.functionNameRule{
    border: 1px solid black;
    background-color:white;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right:6px;
}

.functionNameRule:hover{
    border: 3px solid #891518;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right:4px;
}
.functionListWrapper{
    /* turn on flex box element layout for this element and children: will lay things out horizontally */
display:flex
}

/* select all of the direct children of an functionListWrapper element */
.functionListWrapper > * {
    margin-right: .75em;
}